@import '../../colors.sass';

\:host
  display: inline-block

.card
  box-sizing: border-box
  font-weight: slim
  background: white
  width: 100%
  max-width: 300px
  margin: 0 auto
  border-radius: 16px
  box-shadow: 0px 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  text-align: center
  display: grid
  padding: 2em
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(3, auto)
  grid-template-areas: "icon icon temperature temperature" "lowtemp lowtemp hightemp hightemp" "description description description description"


.card > .icon
  grid-area: icon


.card > .temp
  grid-area: temperature
  p
    margin: 0
  .big
    font-size: 2em
    color: $main
    font-weight: bold

.card > .description
  grid-area: description
  h2
    font-size: 1.2em
    text-transform: uppercase
    letter-spacing: 0.3em
    color: $accent

.card .lowtemp
  grid-area: lowtemp

.card .hightemp
  grid-area: hightemp

.card .lowtemp, .card .hightemp
  color: $accent
  span
    color: $dark
    opacity: 0.56
    font-size: .6em
