\:host
  width: 100vw
  display: flex
  align-items: center
  justify-content: center

div
  display: flex
  justify-content: center
  align-items: center
  flex-flow: wrap

app-current-weather
  width: 100%
  display: flex
  justify-content: center

